@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 30, 30);
}

.header h1 {
  font-size: 250%;
  margin: 30px;
  font-family: 'Noto Serif JP', serif;
}

.main-container h1 {
  font-size: 234%;
  margin: 15px;
  padding-left: 20px;
  border-bottom: dashed 5px white;
}

.main-container h2.dan {
  padding: 20px;
  font-size: 220%;
}

.main-container h2.parsent {
  border: solid 5px gray;
  padding: 9px;
  font-size: 190%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  padding-left: 40px;
}
